pipeline/TemplateOne.json
{
	"name": "TemplateOne",
	"properties": {
		"activities": [
			{
				"name": "LookupTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "   SELECT SchemaName,\n          TableName,\n\t\t  PrimaryKey,\n\t\t  DetectColumns,\n\t\t  SKColName\n   FROM dbo.ChangeMetadata",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ADFTemplate",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"tablename": "Customer"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"PrimaryKey": {
											"value": "'@{item().PrimaryKey}'",
											"type": "Expression"
										},
										"Columns": {
											"value": "'@{item().DetectColumns}'",
											"type": "Expression"
										},
										"SKColName": {
											"value": "'@{item().SKColName}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SourceSystem": {
											"schema": {
												"value": "@item().SchemaName",
												"type": "Expression"
											},
											"tablename": {
												"value": "@item().TableName",
												"type": "Expression"
											}
										},
										"DestinationDW": {
											"schema": {
												"value": "@item().SchemaName",
												"type": "Expression"
											},
											"tablename": {
												"value": "@item().TableName",
												"type": "Expression"
											}
										},
										"sink1": {
											"schema": {
												"value": "@item().SchemaName ",
												"type": "Expression"
											},
											"tablename": {
												"value": "@item().TableName",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-03-31T03:17:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}